.back-btn {
  background-color: #f6f6f6;
}

.back-btn:hover {
  background-color: #fafaff;
}

.proceed-btn {
  background-color: #272727;
  color: #ffffff;
}

.proceed-btn:hover {
  background-color: #5c5c5c;
}
