.homepage-container {
  display: grid;
  grid-template-rows: repeat(3, 40vh);
}

.homepage-banner1 {
  background-image: url("../../src/images/concrete.jpg");
  background-position: top;
  background-size: cover;
}

.homepage-banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #fafaff;
}

.homepage-banner3 {
  background-image: url("../../src/images/concrete.jpg");
  background-position: bottom;
  background-size: cover;
}
