/* Products Container */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-decoration: none;
  width: 80%;
}
