.productview-wrapper {
  /* border: 1px solid lightgray; */
  display: flex;
  justify-content: center;
  height: 88vh;
  margin: 3rem 0 3rem;
}

.productview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  border: 1px solid lightgray;
}

.productview-container-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productview-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 600px;
  /* border: 1px solid red; */
}
.productview-img {
  max-width: 90%;
  max-height: 90%;
}

.productview-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productview-desc-title {
  display: flex;
  justify-content: center;
}

.productview-desc-price {
  display: flex;
  margin-left: 1rem;
}

.add-to-cart-btn {
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
