.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.navbar {
  display: flex;
  margin-right: 2rem;
  list-style-type: none;
}

.navbar li {
  margin: 0 0.5rem 0;
}

.navbar li button {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.header-cart,
.header-products {
  color: #000000;
}
.header-cart {
  width: 1.5rem;
}

.cart-qty {
  float: right;
  z-index: 99;
  margin-top: -25px;
  margin-left: 10px;
  font-weight: bold;
  color: red;
}

.cart-img-wrap {
  height: 1rem;
  width: 1rem;
}

.cart-img {
  max-height: 100%;
  max-width: 100%;
}
