/* Organized from general to specific, left to right */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  height: 4rem;
  background-color: #fafaff;
}
/* 2 parts, space-between ensures L & R header components */

/* Left Header Component */
.header-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

/* Right Header Component */
.header-right {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 62px 1fr;
}

/* Search Bar */
.header-search-wrapper {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
  justify-content: flex-end;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-searchbar {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-image: linear-gradient(to left, #f4f4f4, #fafaff);
}

.search-results-wrapper {
  border: 1px solid black;
  border-top: none;
  /* temp fix */
  margin-top: 2px;
  z-index: 100;
}

/* Container for search results that popup */
.header-search-results {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 99;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.header-search-result {
  margin: 1rem 0.5rem 1rem;
}

.header-search-result:hover {
  background-color: rgb(238, 238, 238);
}

/* Search Bar Button */
.search-btn {
  border: none;
  cursor: pointer;
  background-color: #fafaff;
}

/* Navbar for Products and Cart */
.navbar-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  margin-right: 2rem;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.navbar li {
  margin: 0 0.5rem 0;
}

/* Cart */
.header-cart {
  width: 1.5rem;
}

.cart-qty {
  float: right;
  z-index: 99;
  margin-top: -25px;
  margin-left: 10px;
  font-weight: bold;
  color: orange;
}

/* For image sizing */
.magnify-img-wrapper,
.cart-img-wrap {
  height: 1rem;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-img,
.magnify-img {
  max-height: 100%;
  max-width: 100%;
}
