.product {
  align-items: center;
  height: 100%;
  width: 345px;
  border: 1px solid;
}

.product-desc {
  display: flex;
  flex-direction: column;
}

.product-title {
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 0 1rem 0 1rem;
  white-space: nowrap;
  overflow: scroll;
  /* text-overflow: ellipsis; */
  /* border: 1px solid; */
}

.product-img-container {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-container img {
  max-height: 100%;
  max-width: 100%;
}

.product-price {
  text-align: left;
  margin: 0 0 1rem 1rem;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.desc-container {
  height: auto;
  overflow: scroll;
}
