.page-title {
  display: flex;
  justify-content: center;
}

/* Products Container */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-decoration: none;
  width: 80%;
}

/* Product */
.product-container {
  list-style-type: none;
  border: 1px solid black;
  margin: 0.5px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.product-img-container {
  height: 200px;
  width: 150px;
}

.product-img-container img {
  max-height: 100%;
  max-width: 100%;
}

.desc-container {
  height: 220px;
  overflow: scroll;
}
