.page-title {
  display: flex;
  justify-content: center;
}

/* Products Container */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-decoration: none;
  width: 80%;
}

/* Product */
.product-container {
  list-style-type: none;
  border: 1px solid black;
  margin: 0.5px;
  width: auto;
}

.product {
  align-items: center;
  height: 100%;
  width: 345px;
}

.product-title {
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 1rem 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-img-container {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-container img {
  max-height: 100%;
  max-width: 100%;
}

.product-price {
  text-align: left;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.product-desc {
  display: flex;
  flex-direction: column;
}

.desc-container {
  height: auto;
  overflow: scroll;
}

/* Cart */
.cart-item {
  border: 1px solid #000000;
  width: 250px;
}
