.page-title {
  display: flex;
  justify-content: center;
}

/* Products Container */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-decoration: none;
  width: 80%;
}

/* Product */
.product-container {
  list-style-type: none;
  border: 1px solid black;
  margin: 0.5px;
  width: auto;
}

.product {
  align-items: center;
  height: 100%;
  width: 345px;
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
}

.product-title {
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 1rem 0 0 0;
  /* padding: 0; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-img-container {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-container img {
  max-height: 100%;
  max-width: 100%;
  /* border: 1px solid lightblue; */
}

.product-price {
  text-align: left;
}

.product-img {
  /* grid-row: 1/2; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.product-desc {
  /* grid-row: 2/3; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 50px; */
}

.desc-container {
  height: auto;
  overflow: scroll;
}
